@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.container-header {
  height: 11vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.container-header-logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-header-logo-espacamento {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-header-logo img {
  height: 90%;
  width: 70%;
}

.container-header-logo h3 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-size: 0.915rem;
  line-height: 1.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #000000;
  text-align: center;
}

.container-header-navbar {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container-header-navbar-espacamento {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-header-navbar-espacamento > li {
  list-style: none;
  margin-left: 5%;
}

.container-header-navbar-espacamento > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 0.8rem;
}

.container-header-navbar-espacamento li a:hover {
  padding-bottom: 1px;
  border-bottom: 2.5px solid #c4c4cc;
}

.ativo {
  padding-bottom: 1px;
  border-bottom: 2.5px solid #c4c4cc;
}

.container-main {
  height: 89vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #e5eee5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #dfd3d3;
}

.btn img {
  width: 60%;
  height: 60%;
}
.left {
  float: left;
  left: 2%;
}

.right {
  float: right;
  right: 2%;
}

#page1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.container-main-pagina1-divisao1 {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina1-divisao1-titulo1 {
  height: 90%;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina1-divisao1-espacamento {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina1-divisao1-espacamento-texto {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina1-divisao1-espacamento-titulo2 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.container-main-pagina1-divisao2 {
  height: 15%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina1-divisao2-descricao1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina1-divisao2-descricao2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.container-main-pagina3 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

/* .container-main-pagina2-divisao1 {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao1-titulo1 {
  height: 90%;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina2-divisao1-espacamento {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao1-espacamento-texto {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina2-divisao1-espacamento-titulo2 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.container-main-pagina2-divisao2 {
  height: 15%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao2-descricao1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao2-descricao2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
