@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.container-header {
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-logo-img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-logo-texto {
    
}

.container-main {
    height: 89vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}