@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.container-header {
  height: 11vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.container-header-logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-header-logo-espacamento {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-header-logo img {
  height: 90%;
  width: 70%;
}

.container-header-logo h3 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-size: 0.915rem;
  line-height: 1.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #000000;
  text-align: center;
}

.container-header-navbar {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container-header-navbar-espacamento {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-header-navbar-espacamento > li {
  list-style: none;
  margin-left: 5%;
}

.container-header-navbar-espacamento > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 0.8rem;
}

.container-header-navbar-espacamento li a:hover {
  padding-bottom: 1px;
  border-bottom: 2.5px solid #c4c4cc;
}

.ativo {
  padding-bottom: 1px;
  border-bottom: 2.5px solid #c4c4cc;
}

.container-main {
  height: 89vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #e5eee5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #dfd3d3;
}

.btn img {
  width: 60%;
  height: 60%;
}
.left {
  float: left;
  left: 2%;
}

.right {
  float: right;
  right: 2%;
}

#page1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imagem-principal-page1 {
  height: 80%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 27%;
}

.retangulo01 {
  height: 30%;
  width: 45%;
  background-color: #baf796;
  position: absolute;
  top: 38%;
  left: 0%;
  z-index: -1;
}

.retangulo02 {
  height: 15%;
  width: 30%;
  background-color: #baf79680;
  position: absolute;
  top: 40%;
  right: 15%;
  z-index: 1;
}

.retangulo03 {
  height: 20%;
  width: 25%;
  background-color: #baf79680;
  position: absolute;
  top: 55%;
  right: 20%;
  z-index: 1;
}

.bolinha01 {
  height: 15%;
  width: 7%;
  background-color: #baf796;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: -1;
  border-radius: 50%;
}

.bolinha02 {
  height: 15%;
  width: 7%;
  background-color: #baf796;
  position: absolute;
  bottom: 7%;
  right: 30%;
  z-index: -1;
  border-radius: 50%;
}


.imagem-principal-page1 img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.container-main-pagina1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s;
}

.container-main-pagina1-divisao1 {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina1-divisao1-titulo1 {
  height: 50%;
  width: 25%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina1-divisao1-titulo1 h1 {
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #3e473d;
  font-size: 4.15rem;
  line-height: 3.625rem;
  padding-top: 4px;
  padding-bottom: 1px;
  text-align: center;
}

.container-main-pagina1-divisao1-componente {
  height: 97%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container-main-pagina1-divisao1-componente-espacamento {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina1-divisao1-componente-espacamento-texto {
  height: 45%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 5%;
}

.container-main-pagina1-divisao1-componente-espacamento-texto h3 {
  font-size: 0.95rem;
  line-height: 1.1rem;
  /* text-transform: uppercase; */
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #878a8f;
}

.container-main-pagina1-divisao1-componente-espacamento-titulo2 {
  height: 35%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 2;
}

.container-main-pagina1-divisao1-componente-espacamento-titulo2 h1{
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #3e473d;
  font-size: 3.85rem;
  line-height: 3.625rem;
  padding-top: 4px;
  padding-bottom: 1px;
  text-align: center;
}

.container-main-pagina1-divisao2 {
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina1-divisao2-descricao1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-main-pagina1-divisao2-descricao1-espacamento {
  height: 100%;
  width: 65%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.container-main-pagina1-divisao2-descricao1-espacamento h5 {
  font-size: 0.95rem;
}

.container-main-pagina1-divisao2-descricao1-espacamento p {
  font-size: 0.8rem;
  color: #3e473d;
}

.container-main-pagina1-divisao2-descricao2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container-main-pagina1-divisao2-descricao2-espacamento {
  height: 100%;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}

.container-main-pagina1-divisao2-descricao2-espacamento h5 {
  font-size: 0.95rem;
}

.container-main-pagina1-divisao2-descricao2-espacamento p {
  font-size: 0.8rem;
  color: #3e473d;
}

#page2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imagem-principal-page02 {
  height: 65%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 29%;
}

.imagem-principal-page02 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.container-main-pagina2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s;
}

.container-main-pagina2-divisao1 {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao1-titulo {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao1-paragrafo {
  height: 45%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-main-pagina2-divisao2 {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao2-linha1 {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao2-linha1-lista1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao2-linha1-lista2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao2-linha2 {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao2-linha2-lista1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao2-linha2-lista2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-main-pagina3 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s;
}

.container-main-divisao1 {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-divisao1-titulo {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-divisao1-titulo-separacao span {
  position: relative;
  padding: 0 10px; 
  background-color: #ffffff;
}

.contorno-B {
  content: "";
  position: absolute;
  top: 23%;
  left: 45%;
  width: 10%;
  height: 2px;
  background-color: #5aaf14;
}

.container-main-divisao1-paragrafo {
  height: 45%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-main-divisao2 {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-main-divisao3 {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-divisao3-cards {
  height: 100%;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4cc;
  margin : 0 2% 0 2%;

}

/* .container-main-pagina2-divisao1 {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao1-titulo1 {
  height: 90%;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina2-divisao1-espacamento {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main-pagina2-divisao1-espacamento-texto {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container-main-pagina2-divisao1-espacamento-titulo2 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.container-main-pagina2-divisao2 {
  height: 15%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao2-descricao1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main-pagina2-divisao2-descricao2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
